body{
    font-family: "Times New Roman";
    text-align: center;
}

p{
    text-indent: 1.5em;
}

h2{
    font-size: 25px;
}

h3{
    font-size: 20px;
    margin:5px;
    margin-top:10px;
}

.info img {
    width: 200px;
    border-radius: 50%;
    animation: spin 5s linear 0s infinite;
}
.main{
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.carousel-item{
    height: 350px;
}

.f{
    padding: 5px;
    background: #efeded;
}

.col-6 h3{
    padding-top:10px;
    padding-bottom:10px;
}

.carousel-indicators li {
    background-color: #999;
    background-color: #efeded;
}

.carousel-indicators .active {
    background-color: #444;
}

.carousel-control-prev-icon {
    width:15px;
    height:15px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23444' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    width:15px;
    height:15px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23444' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.footer{
    background-color: #efeded;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@media screen and (min-width: 100px) and (max-width: 450px) {.carousel-item{height: 520px}}
@media screen and (min-width: 450px) and (max-width: 767px) {.carousel-item{height: 450px}}